In [2]:
import pandas as pd
import requests
import pandas as pd
import time
from tqdm import tqdm
from bs4 import BeautifulSoup

In [10]:
# 업종별 지수 뭐 있는지랑 해당 사이트 내에서 어떤 코드로 이용되는지 수집.
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.87 Safari/537.36'}
url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

mktsel = 1
data = {
    'locale': 'ko_KR',
    'mktsel': mktsel,
    'bld' : 'dbms/comm/finder/finder_equidx'   
    }
res = requests.post(url, data, headers = headers)
idf = pd.DataFrame(res.json()['block1'])
idf

    full_code short_code                   codeName marketCode marketName
0           5        300                    KRX 300        KRX        KRX
1           5        600                    KTOP 30        KRX        KRX
2           5        042                    KRX 100        KRX        KRX
3           5        043                    KRX 자동차        KRX        KRX
4           5        044                    KRX 반도체        KRX        KRX
..        ...        ...                        ...        ...        ...
153         5        422             KRX 반도체 Top 15        KRX         테마
154         5        442  KRX FactSet 모빌리티 이노베이터 지수        KRX         테마
155         5        443    KRX FactSet 디지털 헬스케어 지수        KRX         테마
156         5        444     KRX FactSet 디지털 인프라 지수        KRX         테마
157         5        445     KRX FactSet 차세대 에너지 지수        KRX         테마

[158 rows x 5 columns]

In [9]:
# 우선은 KOSPI 지수 데이터 먼저 획득.
idf = idf[idf['marketName'] == 'KOSPI']
kospi_index = pd.DataFrame()

# post방식으로 데이터 받아옴. 
# 모든 지수 10년치 데이터 수집(코스피 기준)
for index, row in idf.iterrows():
    print(row)
    index_name = row['codeName']
    indIdx2 = row['short_code']
    indIdx = row['full_code']
    
    data = {
        'bld':  'dbms/MDC/STAT/standard/MDCSTAT00301',
        'locale': 'ko_KR',
        'tboxindIdx_finder_equidx0_5':  index_name,
        'indIdx': indIdx,
        'indIdx2': indIdx2,
        'codeNmindIdx_finder_equidx0_5': index_name,
        'strtDd': '20100101',
        'endDd': '20180101',
        'share' : '2',
        'money': '3',
        'csvxls_isNo' : 'false'
    }

    res = requests.post(url, data, headers = headers)
    df = pd.DataFrame(res.json()['output'])
    df['index_name'] = index_name

    kospi_index = pd.concat([kospi_index, df], axis = 0)
    break 
    time.sleep(100/60)

#csv파일로 저장-> encoding = 'euc-kr'로 해줘야 한글 안깨짐.
kospi_index.to_csv('업종별지수_data.csv', encoding = 'euc-kr')

full_code           5
short_code        300
codeName      KRX 300
marketCode        KRX
marketName        KRX
Name: 0, dtype: object